@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 300;
	src: url('fonts/Proxima_Nova/ProximaNova-Light.otf') format('opentype');
}
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 500;
	src: url('fonts/Proxima_Nova/ProximaNova-Reg.otf') format('opentype');
}
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 600;
	src: url('fonts/Proxima_Nova/ProximaNova-Sbold.otf') format('opentype');
}
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Proxima_Nova/ProximaNova-Bold.otf') format('opentype');
}
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 900;
	src: url('fonts/Proxima_Nova/ProximaNova-Black.otf') format('opentype');
}